body {
 background-color: slategray; 

}
.calc-wrapper
{
  background-color:white ;
  width: 400px;
  border-radius: 16px;
}
.App
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row
{
  display: flex;
}